<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175451225655-urb4kue5jrrfm2dbfl7okt7r71m783vn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175451225655-urb4kue5jrrfm2dbfl7okt7r71m783vn</string>
	<key>API_KEY</key>
	<string>AIzaSyA5ZiKyep-OoBqbDVntSm58zVvnXzvnU0A</string>
	<key>GCM_SENDER_ID</key>
	<string>175451225655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cibertec.AppSOS</string>
	<key>PROJECT_ID</key>
	<string>wayrafixadmin</string>
	<key>STORAGE_BUCKET</key>
	<string>wayrafixadmin.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175451225655:ios:b37441f3ab76e6039ac9b2</string>
</dict>
</plist>